h1{
    font-size: 400%;
    text-align: center;
}

h2{
    font-size: 250%;
    text-align: center;
}

header{
    background-color: darkslategrey;  
    color: white;
    text-align: center;

}

body{
    background-color: darkslategrey;
    color: white;
    text-align: center;

}

a{
    color: rgb(255, 255, 255);
}

a:visited{
    color:rgb(255, 0, 183)
}